


.rbc-button-link {
  /* color: var(--main-color-dark_green); */
  color: black;
}

.rbc-day-bg{
  /* background-color: var(--main-color-blue); */
  background-color: rgb(211, 211, 211);
}

.rbc-off-range-bg {
  background: var(--main-color-light);
}
