/* 
________/\\\\\\\\\_____/\\\\\\\\\\\_______/\\\\\\\\\\\___        
 _____/\\\////////____/\\\/////////\\\___/\\\/////////\\\_       
  ___/\\\/____________\//\\\______\///___\//\\\______\///__      
   __/\\\_______________\////\\\___________\////\\\_________     
    _\/\\\__________________\////\\\___________\////\\\______    
     _\//\\\____________________\////\\\___________\////\\\___   
      __\///\\\___________/\\\______\//\\\___/\\\______\//\\\__  
       ____\////\\\\\\\\\_\///\\\\\\\\\\\/___\///\\\\\\\\\\\/___ 
        _______\/////////____\///////////_______\///////////____

*/


/*? ============= Font Import ============= */

@font-face {
  font-family: "LEMONMILK-Bold";
  src: local("LEMONMILK-Bold"),
    url("../fonts/LEMONMILK-Bold.otf") format("truetype");
}

@font-face {
  font-family: "LEMONMILK-Regular";
  src: local("LEMONMILK-Regular"),
    url("../fonts/LEMONMILK-Regular.otf") format("truetype");
}

/* @font-face {
  font-family: "Catamaran-ExtraBold";
  src: local("Catamaran-ExtraBold"),
    url("./fonts/Catamaran-ExtraBold.ttf") format("truetype");
} */

/* @font-face {
  font-family: "Catamaran-Regular";
  src: local("Catamaran-Regular"),
    url("./fonts/Catamaran-Regular.ttf") format("truetype");
} */


/*? ============= CSS Var ============= */

:root {
  --main-font-bold: "LEMONMILK-Bold";
  --main-font-regular: "LEMONMILK-Regular";
  /* --mainBG-color: #181818; */
  --main-color-green: #0ca750;
  --main-color-light_green: #38F188;
  --main-color-dark_green: #033117;
  /* --alt-color1: #0ba6d99a; */
  /* --alt-color2: #d34846bb; */
  /* --alt-color2b: #ed5735be; */
  /* --alt-color3: #40807ac0; */
}

/*? ============= Global CSS ============= */

/* .topLevelPage {
  background-color: #0ca750;
} */

body > #root > div {
  height: 100vh;
}

.applyMainFont {
  font-family: var(--main-font-bold);
  font-size: 20px;
}

/*? ============= Home Page CSS ============= */

.welcomeText {
  font-family: var(--main-font-bold);
  font-size: 40px;
}

.workoutBox {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 550px;
  height: 500px;

}

.todaysBoxTitle {
  font-size: 25px;
  font-family: var(--main-font-bold);
}

.homePage {
  min-height: 100vh;
}

/*? ============= Login Page CSS ============= */

.loginPage {
  min-height: 100vh;
  background-color: #0ca750;
}


/*? ============= User Settings CSS ============= */

.avatarIcon {
  width: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.editProfileText{
  font-family: var(--main-font-regular);
  font-size: 18px;
}

.editProfileUserName{
  font-family: var(--main-font-bold);
  font-size: 25px;
}

.uploadBox {
  /* background-color: #1519d2; */
  border-style: solid;
  border-color: #c3c3c3b5;
  border-width: 5px;
}

.userProfileUpdateBtn {
  font-family: var(--main-font-bold);
  font-size: 18px;
  width: 250px;
  color: white;
  background-color: rgba(0, 0, 0, 0.902);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.nameInput {
  width: 250px;
}

.emailInput {
  width: 450px !important;
}

.passwordInput {
  width: 300px !important;
}



/*? ============= Billing CSS ============= */

.creditCardBox {
  background-color: var(--main-color-light_green);
  padding: 50px 50px 25px 50px;
  border-color: rgb(210, 210, 210);
  border-width: 10px;
  border-style: solid;
  margin: 10% 20% 0px 20%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.CC-Name{
  align-items: flex-start;
  justify-content: left;

}

.CC-Number {
  width: 250px;
}

